#orientation2 {
  padding:40px;
  border-bottom
}

.orilegend {
  width:12px;
  height:12px;
  float: left;
  margin-right:12px;
  margin-top:3px;
  text-transform: uppercase;
  border-radius:6px;
  margin-bottom:25px;
}

.orientationlegend {
  margin-top:20px;
  margin-bottom:20px;
}

#orientation0A {
  position:absolute;
  width:70%;
  left:15%;
  top:150px;
  z-index:-1;
}

.instancetitle {
  font-size:1.43rem;
  font-family:Wellcome;
}

#plungesection {
  margin-top:40px;
  margin-bottom:40px;
  height: 110vh;
  padding-top:50vh;
  background-image:url("../images/orientation/Ebola_burial.jpg");
  background-position: center;
  background-size: cover;
  margin-left:-30px;
  margin-right:-30px;
}

#plungetext {
  background: var(--baseColor);
  padding:15px;
}

#instance4 {
  margin-top:5%;
}

#state3 {
  padding-bottom:1000px;
}

.screenpad {
  margin-top:1000px;
}

#opacitynone {
  opacity:0;
}

.fadeelement {
  transition: opacity 1s ease;
}

.disappear
{
  opacity: 0;
}